body {
  background-color: beige;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Style title and motto */
.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.title h1 {
  font-size: 36px;
}

.title h3 {
  font-size: 24px;
}

/* Style the image division */
.image {
  height: auto;
  width: 800px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.source {
  font-size: 10px;
  border-radius: 8px;
  background-color: burlywood;
  color: white;
}

/* Style recipes division */
.recipes {
  margin-left: 24px;
}

.recipes h2 {
  font-size: 24px;
  font-weight: 700;
}

.recipes li {
  font-size: 16px;
  font-weight: 200;
}

/* Credit */
#credit {
  font-size: 12px;
  font-weight: 100;
  text-align: right;
  margin-right: 24px;
}
